* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
  background-color: #06272d;
  overflow-x: hidden;
}

.sidebar {
  color: #fff;
  background-color: #06272d;
  padding: 20px;
  width: fit-content; 
  overflow-y: auto; 
  display: flex;
  flex-direction: column;
  min-width: 25ch;
}

.sidebar-content {
  flex-grow: 1;
}

.main {
  flex-grow: 1;
  background-color: #fff;
  overflow-y: hidden !important;
  padding: 0 !important;
  width: 100% !important;
}


.sidebar h3 {
  display: flex;
  color: #fff;
  margin-top: 20px;
  text-align: start;
  font-size: large;
  margin-left: 10px;
  align-items: center;
  justify-content: start;
}

.welcome-msg {
  font-style: italic;
  font-size: medium;
  text-align: center;
  max-width: 25ch;
  margin-top: 25px;
}


.sidebar i {
    font-size: 30px;
}

.quickaddcard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  margin: 10px 0;
  border-radius: 25px;
  color: #fff;
  background-color: #009FB750;
  box-shadow: 0px 2px #13828e;
}

.quickaddcard:hover {
  box-shadow: 0px 3px #13828e;
  transition-duration: 200ms;
  transform: scale(1.05);
  
}


.logo:hover {
  transition: transform 2000ms;
  transform: rotateX(360deg);
}

.quickaddcard i {
  font-size: 20px;
  padding: 8px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.task i{
  margin-top: 50px;
  color: white;
}

.quickaddcard .task-name {
  flex-grow: 1;
  margin: 0 10px; 
  text-align: left; 
  max-width: 10ch;
}

.plus :hover {
  color: #13828e;
}

.edit {
  color: rgb(190, 65, 84);
  transition: 0.3s ease;
  transform: rotateZ(45deg);
}

.bx-edit-alt {
  font-size: 20px !important;
}

.bxs-edit-alt {
  font-size: 20px !important;
}

.bxs-plus-circle {
  font-size: 36px !important;
  padding: 0 !important;
  transition: 0.3s ease;
}

.bxs-plus-circle:hover {
  padding: 0 !important;
  color:#13828e;
}

.quickadd h3 {
  display: flex !important;
  align-items: center !important;
  color: #fff !important;
  text-align: start !important;
  font-size: large !important;
  justify-content: space-between !important;
}

.add {
  color: #9df2f1 !important;
  padding: 0 !important;
  margin: 0 !important;
  margin-right: 5px !important;
  display: flex !important;
  align-items: center !important;
  margin-bottom: 2px !important;
  margin-left: 0px !important;
  text-decoration: none !important;
  
}
.add :hover{
  color:#13828e;
}

.add i {
  padding: 0 !important;
  margin: 0 !important;
}

.quickadd-form {
  display:none; 
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); 
  z-index: 10; 
  background-color: 0c475f;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 420px;
  background-color: #06272d;
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: auto;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); 
  display: none;
  z-index: 5; 
}

.starttime-form {
  display: none; 
  position: fixed; 
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); 
  z-index: 10; 
  background-color: 0c475f;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 420px;
  background: #0C475F;
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
}

.addtask-form {
  display: none;
  position: fixed; 
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10; 
  background-color: 0c475f;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 420px;
  background: #0C475F;
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
}

.backdrop2 {
  position: fixed;
  top: 0;
  left: auto;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 5; 
}

.backdrop3 {
  position: fixed;
  top: 0;
  left: auto;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); 
  display: none;
  z-index: 5;
}

#calendar {
  display: flex;
  margin-left: 15px;
  justify-content: start;
  align-items: baseline;
  gap: 50px;
  color:white;
  margin-bottom: 20px;
}

.day {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:flex-start;
    gap: 25px; 
    width: 50px; 
    height: 50px; 
    line-height: 1%; 
    text-align: center;
    border-radius: 50%;
    margin: 5px;
}


.day-name {
    font-size: 0.75rem; 
    color: #fff; 
  }

.day-number {
    font-size: 1rem; 
    color: #fff; 
}

.past {
  background-color: #174950; 
}

.past:hover {
  cursor: pointer;
  background-color: #174950; 
  transition-duration: 100ms;
  transform: scale(1.05);
}

.current {
  background-color: #043b5c;
  transform: scale(1.1);
}

.current:hover {
  cursor: pointer;
  background-color: #174950; 
  transition-duration: 100ms;
  transform: scale(1.05);
}

.selected {
  background-color: #13828e !important; 
  color: white;
}

.selected:hover {
  cursor: pointer;
  background-color: #174950; 
  transition-duration: 100ms;
  transform: scale(1.05);
}

.future {
  background-color: #174950; 
}

.future:hover {
  cursor: pointer;
  background-color: #174950; 
  transition-duration: 100ms;
  transform: scale(1.05);
}

.fab {
  position: fixed; 
  bottom: 20px;   
  right: 40px;     
  width: 56px;    
  height: 56px;    
  line-height: 56px; 
  text-align: center; 
  border-radius: 50%; 
  background-color: #06272d; 
  color: white; 
  border: none; 
  cursor: pointer; 
  box-shadow: 0 4px 7px 0 rgba(0,0,0,0.36); 
  font-size: 24px; 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0; 
}

.fab:hover {
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.56);
}


@media (max-width: 1000px) {
    .sidebar {
      width: fit-content;
      padding: 10px;
      width: fit-content; 
    }
  
    .sidebar h3, .welcome-msg {
      margin-top: 20px; 
      font-size: medium; 
    }

    .quickaddcard i {
      font-size: 40px !important;
    }

    .sidebar i {
      font-size: 30px;;
    }
  
    .main {
      padding: 10px; 
    }
  
    .sidebar .logo {
      height: 80px;
    }

    .welcome-msg {
      max-width: 16ch !important;
      font-size: medium !important;
    }
  }
  
  @media (max-width: 800px) {
    .sidebar {
      width: fit-content; 
      position: fixed;
      z-index: 1;
      left: 0;
      top:10px;
      bottom: 50px;
      height: 100%;
      transform: translateX(-100%); 
      transition: transform 0.5s ease; 
    }

    .quickaddcard i {
      padding: 5px !important;
    }

    .sidebar i {
        padding-bottom: 20px;
        padding-left: 10px;
        font-size: 30px;
    }
  
    .sidebar.active {
      transform: translateX(0); 
    }
  
    .sidebar-content, .welcome-msg {
      margin-top: 40px; 
      width: fit-content; 
    }
    
    .welcome-msg {
      max-width: 16ch !important;
      font-size: medium !important;
    }

    .main {
      margin-top: 60px; 
      border-radius: 0;
    }
    .quickaddcard {
      width: 100% !important;
      margin: 10px 0 !important;
    }
  }
  
  .sidebar-toggle {
    display: none;
    position: fixed;
    z-index: 2; 
    top: 10px; 
    left: 20px; 
    font-size: 30px;
    color: #0c475f;
  }
  
  @media (max-width: 800px) {
    .sidebar-toggle {
      display: block; 
    }
  }


