<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    {% include 'starttime-form.html' %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static "css/style.css" %}"> <link rel="stylesheet" href="{% static "css/forms.css" %}">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <title>Time Tailor</title>
  </head>
  <body>
    {% include 'quickadd-form.html' %}
    <div class="container-fluid" style="display: flex; flex-direction:row; width: 100%; min-height: 100vh;height:100%; background-color: #06272d; margin: 0; padding: 0">
      <a class="sidebar-toggle"><i class="bx bx-sidebar"></i></a>
      <div class="sidebar">
        <div class="sidebar-content">
          <div
            style="
              height: 100px;
              width: 100%;
              border-radius: 20px;
              background-color: #174950;
              display: flex;
              margin-top: 10px;
              justify-content: center;
              align-itimes: center;
              box-shadow: 0px 2px #13828e;
            "
          >
            <img style="height:100px;" src = {% static 'media/logoTimeTailor2.png' %} class="logo" >
          </div>
          <div class="quickadd">
            <h3>
              Quick Add<a href="#" id="quickadd-toggle" class="add"><i class="bx bx-list-plus"></i></a>
            </h3>
            {% for task in sidebar_list %}
            <div class="quickaddcard" style="background-color: #009fb750">
              <i class="bx {{ task.icon }}" style="background-color: {{ task.color }};"></i>
              <p class="task-name">{{ task.name }}</p>
              <a href="#" id="starttime-toggle" class="starttime-toggle" data-name="{{ task.name }}" data-icon="{{ task.icon }}" data-color="{{ task.color }}" data-duration="{{ task.duration }}" style="color: #9df2f1; text-decoration: none"><i class="bx bxs-plus-circle"></i></a>
            </div>
            {% endfor %}
          </div>

          <div class="completed">
            <h3>Completed Today</h3>
            {% for task in sidebar_list2 %}
            <div class="quickaddcard" style="color: white">{{ task.name }}</div>
            {% endfor %}
          </div>
        </div>

        {% if user.is_authenticated %}
        <p class="welcome-msg">Welcome, {{ user.username }}! <a href="/auth/login">Logout</a></p>
        {% else %}
        <p>Welcome, new user. Please <a href="/auth/login">log in.</a></p>
        {% endif %}
      </div>

      <div class="main" style="background-color: #06272d; height:100%; overflow-y: auto;">
        <div style="height: fitcontent; display: flex; flex-direction: column">
          <div style="display: flex; margin-left:7 px;justify-content: space-between; align-items: baseline; color: white; font-size: 20px">
            <p id="currentMonthYear">November 2022</p>
            <div class="calendarBtnRow" style="height: 3%; justify-content: end; display: flex; font-size: 30px; padding: 20px">
              <i class="bx bxs-calendar" style="color: #9df2f1"></i>
              <i class="bx bxs-cog" style="margin-left: 20px; color: #9df2f1"></i>
            </div>
          </div>
          <div id="calendar">
            <div class="day past">13</div>
            <!-- Past days -->
            <div class="day past">14</div>
            <!-- Past days -->
            <div class="day current">15</div>
            <!-- Current day -->
            <div class="day future">16</div>
            <!-- Future days -->
            <div class="day future">17</div>
            <!-- Future days -->
            <div class="day future">18</div>
            <!-- Future days -->
            <div class="day future">19</div>
            <!-- Future days -->
          </div>
        </div>

        <div id="timeline-container" style=" display: flex;
        flex-direction: row;
        max-height: calc(100vh - 150px); /* Adjust based on your header/footer height */
        overflow-y: auto; /* Allows scrolling within the timeline container */
        background-color: #14525b;
        border-top-left-radius: 20px;">
          <!-- Hours Column -->
          <div id="hours-column" style="flex: 0 0 100px; /* Fixed width */
          background-color: #0d737d;
          padding: 10px;height:1440px;">
              {% for hour in hours_range %}
              <div class="hour" style="color:white;height: 60px; border-bottom: 1px solid #ddd; text-align: center; line-height: 60px;">{{ hour }}:00</div>
              {% endfor %}
          </div>
          <!-- Tasks Container -->
          <div id="tasks-container" style="flex-grow: 1;
          position: relative;">
              <!-- Dynamic tasks will be inserted here -->
          </div>
      </div>
    {% if form.errors %}
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var quickAddFormContainer = document.querySelector(".quickadd-form");
        var backdrop = document.getElementById("backdrop");
        // Show the form and backdrop if there are form errors
        quickAddFormContainer.style.display = "block";
        backdrop.style.display = "block";
      });
    </script>
    {% endif %}
    
    <script src="{% static 'js/forms.js' %}"></script>
    <script>
      function generateCalendar() {
        const today = new Date();
        const calendar = document.getElementById("calendar");
        const todayFormatted = today.toISOString().slice(0, 10); // Format today's date as YYYY-MM-DD
    
        // Clear existing calendar days
        calendar.innerHTML = "";
    
        // Add past days
        for (let i = 2; i > 0; i--) {
            const pastDay = new Date(today);
            pastDay.setDate(today.getDate() - i);
            calendar.appendChild(createDayElement(pastDay, "past", todayFormatted));
        }
    
        // Add current day and highlight it
        const currentDayElement = createDayElement(today, "current", todayFormatted);
        currentDayElement.classList.add('selected'); // Highlight today
        calendar.appendChild(currentDayElement);
    
        // Add future days
        for (let i = 1; i <= 4; i++) {
            const futureDay = new Date(today);
            futureDay.setDate(today.getDate() + i);
            calendar.appendChild(createDayElement(futureDay, "future", todayFormatted));
        }
    
        // Fetch tasks for today
        fetchTasksForDay(todayFormatted);
    }
    
    function createDayElement(date, className, todayFormatted) {
        const dayElem = document.createElement("div");
        dayElem.className = `day ${className}`;
        const dateFormatted = date.toISOString().slice(0, 10);
        dayElem.setAttribute("data-date", dateFormatted); // Set ISO string as data attribute
    
        // Create day name element
        const dayNameElem = document.createElement("div");
        dayNameElem.className = "day-name";
        const dayNames = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
        const dayName = dayNames[date.getDay()];
        dayNameElem.textContent = dayName;
    
        // Create day number element
        const dayNumberElem = document.createElement("div");
        dayNumberElem.className = "day-number";
        dayNumberElem.textContent = date.getDate();
    
        dayElem.appendChild(dayNameElem);
        dayElem.appendChild(dayNumberElem);
    
        // Highlight today's date
        if (dateFormatted === todayFormatted) {
            dayElem.classList.add('selected'); // This ensures today is highlighted
        }
    
        dayElem.addEventListener("click", function () {
            document.querySelectorAll('.day').forEach(day => day.classList.remove('selected')); // Remove 'selected' class from all days
            this.classList.add('selected'); // Highlight the clicked day
            fetchTasksForDay(dateFormatted); // Fetch tasks for the selected date
        });
    
        return dayElem;
    }
    function fetchTasksForDay(selectedDate) {
      fetch(`/get-tasks-for-date/${selectedDate}`)
      .then(response => response.json())
      .then(data => {
          const tasks = JSON.parse(data.tasks); // Assuming data.tasks is the serialized tasks JSON
          updateTasksSection(tasks);
      })
      .catch(error => console.error("Error fetching tasks:", error));
  }
  
  function updateTasksSection(tasks) {
    const tasksContainer = document.getElementById("tasks-container");
    tasksContainer.innerHTML = ""; // Clear current tasks
    tasksContainer.style.position = 'relative'; // Ensure the container has a relative position

  

    tasks.forEach(task => {
        // Calculate top position and height
        const startTimeParts = task.fields.start_time.split(":");
        const durationParts = task.fields.duration.split(":");
        const startHour = parseInt(startTimeParts[0], 10);
        const startMinute = parseInt(startTimeParts[1], 10);
        const durationHours = parseInt(durationParts[0], 10);
        const durationMinutes = parseInt(durationParts[1], 10);

        const topPosition = (startHour * 60) + startMinute + 40; // 1 hour = 60px
        const taskHeight = (durationHours * 60) + durationMinutes; // 1 hour = 60px

        // Create and style task element
        const taskElem = document.createElement("div");

        taskElem.style = 'justify-content:space-between; align-items:center;'
        taskElem.style.display ="flex"
        taskElem.style.position = "absolute"; // Use absolute positioning within the relative container
        taskElem.style.top = `${topPosition}px`;
        taskElem.style.left = "0";
        taskElem.style.width = "calc(100% - 20px)"; // Adjust width if needed, accounting for padding
        taskElem.style.height = `${taskHeight}px`;
        taskElem.style.backgroundColor = task.fields.color;
        taskElem.style.color = "white";
        taskElem.style.padding = "10px";
        taskElem.style.borderRadius = "5px";
        taskElem.style.marginLeft = "10px"; // Add if you want some spacing from the left

        // Append icon, name, and time
        const taskIcon = document.createElement("i");
        taskIcon.className = `bx ${task.fields.icon}`;
        taskElem.appendChild(taskIcon);

        const taskName = document.createElement("p");
        taskName.style = 'margin-bottom: 0';
        taskName.textContent = `${task.fields.name}`;
        taskElem.appendChild(taskName);

        // Correctly calculate and display the end time
        const endTime = new Date(0, 0, 0, startHour, startMinute);
        endTime.setMinutes(endTime.getMinutes() + durationHours * 60 + durationMinutes);
        const endTimeString = endTime.toTimeString().split(":")[0] + ":" + endTime.toTimeString().split(":")[1];

        const taskTime = document.createElement("p");
        taskTime.style = 'margin-bottom: 0'
        taskTime.textContent = `${task.fields.start_time} - ${endTimeString}`;
        taskElem.appendChild(taskTime);

        const checkMark = document.createElement("i");
        checkMark.className = "bx bxs-check-circle";
        checkMark.style.color = "green"; // Or any color that fits your design
        checkMark.style.cursor = "pointer";
        checkMark.onclick = function() { updateTaskCompletion(task.pk); }; // Assuming task.pk is the task ID
        taskElem.appendChild(checkMark)

        tasksContainer.appendChild(taskElem);
    });
}

function updateTaskCompletion(taskId) {
  fetch(`/update-task-completion/${taskId}`, {
      method: 'POST', // Or 'PUT'
      headers: {
          'Content-Type': 'application/json',
          // Include CSRF token as needed
      },
      body: JSON.stringify({ completed: true }) // Or toggle the status based on current value
  })
  .then(response => {
      if (response.ok) {
          console.log("Task updated successfully");
          // Optionally, refresh tasks or visually indicate completion
      }
  })
  .catch(error => console.error("Error updating task:", error));
}
      // Run generateCalendar on script load and every midnight
      generateCalendar();
      setInterval(() => {
        const now = new Date();
        if (now.getHours() === 0 && now.getMinutes() === 0) {
          generateCalendar();
        }
      }, 60000); // Check every minute
    </script>

    <script>
      function updateMonthYear() {
        const now = new Date();
        const options = { month: "long", year: "numeric" };
        const currentMonthYear = now.toLocaleDateString("en-US", options);

        document.getElementById("currentMonthYear").textContent = currentMonthYear;
      }

      // Call the function to update the content
      updateMonthYear();
    </script>

    
    <script src="{% static 'js/bootstrap.js' %}"></script>
  </body>
</html>
